.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  height: 400px;
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
  background-image: linear-gradient($bg-text-color, $bg-text-color),
    url('../img/header-img.jpg');
  background-size: cover;
}

.hero {
  @extend %container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $white-color;
    width: 360px;

    @media screen and (min-width: 1200px) {
      width: 696px;
    }
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }
}
