.work-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-container {
  @extend %container;
  @media screen and (max-width: 1199px) {
    max-width: 1000px;
  }
}

.work {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
  }

  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 14px;
      line-height: 1.16;
    }

    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;

    font-weight: 700;
    text-transform: uppercase;
  }
}

.work__item {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: $bg-team-color;
    height: 120px;
  }
}
