$primery-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$clients-color: #afb1b8;
$white-color: #ffffff;
$bg-text-color: rgba(47, 48, 58, 0.8);
$bg-footer-color: #2f303a;
$bg-team-color: #f5f4fa;
$address-text-color: rgba(255, 255, 255, 0.6);
$background-social: rgba(255, 255, 255, 0.1);
$cards-bg-color: rgba(33, 150, 243, 0.9);
$filter-bg-color: #f5f4fa;
$cubic-bezier-dafault: cubic-bezier(0.4, 0, 0.2, 1);
$time-animation: 250ms;
$bg-color-modal: rgba(0, 0, 0, 0.2);
